

#gameCanvas {
    background-color: #111; /* Un gris oscuro para el fondo del juego inicialmente */
    border: 1px solid #fff; /* Un borde para visualizar el canvas */
}
.controls {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 20px;
}



body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: black;
    height: 100vh;
    touch-action: none;
}

.controls {
    position: fixed;
    bottom: 20px;
    display: flex;
    gap: 20px;
}

.control-btn {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background: rgba(255, 255, 255, 0.3);
    color: white;
    font-size: 24px;
    touch-action: none;
}

#btnRestart {
    position: absolute;
    display: none;
    padding: 12px 20px;
    font-size: 18px;
    z-index: 1000;
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 8px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.3);
    color: white;
}
#pauseBtn {
  position: relative;
    top: 10px;
    right: 3px;
    padding: 8px 12px;
    font-size: 18px;
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    border-radius: 5px;
    z-index: 999;
    display: none; /* Oculto por defecto */
    color: white;
}

/* Mostrar solo en pantallas pequeñas (modo móvil) */
@media (max-width: 768px) {
    #pauseBtn {
        display: block;
    }
}
